// Primary Colors
$pr-soft-red: hsl(10, 79%, 65%);
$pr-cyan: hsl(186, 34%, 60%);

// Neutral Colors
$dark-brown: hsl(25, 47%, 15%);
$medium-brown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$very-pale-orange: hsl(33, 100%, 98%);

// Font Size
$body-fs: 18px;

// Mixins
@mixin box-theme($color, $bg-color) {
    border-radius: 15px;
    color: $color;
    background-color: $bg-color;
}

@mixin centered() {
    margin: 0 auto;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: $body-fs;
    font-family: 'DM Sans', sans-serif;
    background-color: $cream;
}

.container {
    margin: 20px auto;
    width: 400px;
    
}


// Balance Section styles
.balance-container {
    @include box-theme(white, $pr-soft-red);
    @include centered();

    display: flex;
    justify-content: space-between;
    
    height: 100px;
    padding: 0px 20px;

    .balance-values {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            
        }

        h3 {
            font-weight: 300;
        }
    }

    img {
        width: 70px;
    }
    
}

// Spending Section styles
.spending-container {
    @include box-theme($dark-brown, white);
    @include centered();

    
    padding: 20px;
    margin-top: 20px;

    .spending-footer {
        display: flex;
        justify-content: space-between;

        #percent {
            text-align: right;
        }
    }
    
}

// Chart styles
#chart {
    width: 350px;
    height: 300px;
}

